
* { 
	color: #000000; 
	font-size: 14px;
	font-family: Segoe UI;
}

/*******************************************
* CONTENT
*******************************************/
#mainFrame{
	border: 0px solid #Aaaaaa;
	background:  #ff5500;
	border-radius: 5px;
}

/* HEADER                                  */
/*-----------------------------------------*/
#logo{
	background:  ;
	
}

#mainHeader{
	background:  ;
	color: #ffaa7f;
	border-bottom: 2px solid #0055ff;
}

#mainHeader QLabel{
	background:  ;
}

#appTitle{
	font-weight: bold;
}

#appDescription, #appTitle{
	color: #ffaa7f;
}
/*******************************************/
/* WINDOWACTIONS TOPICONS                  */
/*******************************************/
#windowicons{
	border: none
}

#windowicons QLabel{
	background:  ; 
}

#windowicons QPushButton{
	background: transparent;
	border: none;
}
#windowicons QPushButton#restorewindow:hover,
#windowicons QPushButton#maximizewindow:hover,
#windowicons QPushButton#minimizewindow:hover{ 
	border: none;
	background: #0000ff;
}

#windowicons QPushButton#closewindow:hover{ 
	background: red;
}

QLabel#appLogo{
	background:  ;
}
/*******************************************/
/* FOOTER                                  */
/*******************************************/
#mainFooter QFrame{
	border: none;
}

#mainFooter{
	background:  #f3f2f1;
	color: #00557f;
}

#footerActions QPushButton,
#mainFooter QPushButton{ 
	border: none;
	background: #f3f2f1;
	color: #aa007f;
}

#footerActions QPushButton:hover{
    background: #55557f;
	color: #aa007f;
}

#mainFooter QLabel{
	color: #00557f;
}


/*******************************************/
/* PANELS                                  */
/*******************************************/

#controllerPanel1{
	background: #e1e1e1;
    border-top: none;  
}
#controllerPanel2{
 	background: #e1e1e1;
	border-top: none;
}
#controllerPanel3{
	background: #e1e1e1;
    border-top: none;  
}
#controllerPanel4{
	background: #e1e1e1;
    border-top: none;  
}
#controllerPanel5, #controllerPanel6{
	background: #e1e1e1;
    border-top: none;  
}

#controllerPanel1{
    border-left: 1px solid #Dadada;	
}
#controllerPanel2{
    border-left: 1px solid #Dadada;	
}
#controllerPanel3{
    border-left: 1px solid #Dadada;	
}
#controllerPanel4{
    border-left: 1px solid #Dadada;	
}
#controllerPanel5{
    border-left: 1px solid #Dadada;	
}

#controllerPanel5{
    border-top: 1px solid #Dadada;	
}

#controllerPanel1 QPushButton, 
#controllerPanel2 QPushButton, 
#controllerPanel3 QPushButton,
#controllerPanel4 QPushButton, 
#controllerPanel5 QPushButton, 
#controllerPanel6 QPushButton{
	background: transparent;
	border: none;
}

#controllerPanel1 QPushButton:hover, 
#controllerPanel2 QPushButton:hover, 
#controllerPanel3 QPushButton:hover,
#controllerPanel4 QPushButton:hover, 
#controllerPanel5 QPushButton:hover, 
#controllerPanel6 QPushButton:hover{
	background: #7171A9;
}

LabelHorizontal, LabelVertical, #controllerPanel5 QLabel{
	font-weight: bold;
	color: #55aaff;
	font-size: 16px;
	padding-left: 20px;
}
#panel1{
	background: #ffffff;
    color: #ffffff;
}
#panel2{
	background: #282828;
   color: #00557f;
}
#panel3{
	background: #ff5500;
    color: #000000;
}
#panel4{
	background: #1C1C1C;
   color: #00557f;
}
#panel5, #panel6{
	background: #C4C4C4;
   color: #00557f;
}

#controllerPanel5{
    border-bottom: 1px solid #Dadada;
}
#controllerPanel1, #controllerPanel2{
    border-left: 1px solid #Dadada;
}

/*
#controllerPanel3, #controllerPanel4, #controllerPanel5, #controllerPanel6{
    border-right: 1px solid #Dadada;
}
*/

#panel6{
    border-right: 1px solid #Aaaaaa;
}

#controllerPanel1 QFrame,
#controllerPanel2 QFrame,
#controllerPanel3 QFrame,
#controllerPanel4 QFrame,
#controllerPanel5 QFrame{
	border: none;
}

/*******************************************/
/* BUTTONS                                 */
/*******************************************/
QPushButton{
	padding: 5px;
    background: #0055ff;
	border: 1px solid #Aaaaaa;
	color: #000000;
}

 QPushButton:hover{
    background: #ffffff;
	border: 1px solid #Aaaaaa;
	color: #000000;
}


/*******************************************/
/* SCROLLBAR                               */
/*******************************************/
QScrollBar {
    background: #Aaaaaa;
    width: 8px;   
}

QScrollBar::handle {
    background:  #0055ff;
}

QScrollBar::add-line:vertical, 
QScrollBar::add-line:horizontal  {
    border: none;
    background: none;
}

QScrollBar::sub-line:vertical, 
QScrollBar::sub-line:horizontal  {
    border: none;
    background: none;
  }

QScrollBar::handle:hover:vertical, 
QScrollBar::handle:hover:horizontal {
    /*background: #ff5500;*/
    border-radius: 3px;
}

/*******************************************/
/* TREEVIEW                                */
/*******************************************/
QTreeView, QTreeWidget{
    alternate-background-color: #Dadada;
	background:  #ff5500;
	border: none;
}

#panel1 QTreeWidget{
	background:  #ffffff;
}

QTreeView::Item{
    height:20px;
}

#panel3 QHeaderView::section, 
#panel3 QHeaderWidget::section {
    color: #000000;
	font-weight: bold;
    background: #0055ff;
	padding: 2px;	
	border: none;
	border-bottom: 1px solid #Aaaaaa;
}
#panel1 QHeaderView::section, 
#panel1 QHeaderWidget::section {
    color: #ffffff;
	font-weight: bold;
    background: #00557f;
	padding: 2px;	
	border: none;
	border-bottom: 1px solid #ffff7f;
}
#panel4 QHeaderView::section, 
#panel4 QHeaderWidget::section {
    color: #aa007f;
	font-weight: bold;
    background: #ffaaff;
	padding: 2px;	
	border: none;
	border-bottom: 1px solid #ff5500;
}
/*******************************************/
/* TOOLBOX                            */
/*******************************************/


/*******************************************/
/* TOOLTIP                            */
/*******************************************/
QToolTip { 
	background-color: #ff5500; 
	color: #000000; 
	border: 1px solid #Aaaaaa; 
	border-radius: 3px;
}

/*******************************************/
/* LINEEDIT                            */
/*******************************************/
/*
QLineEdit{
    background-color: #ff5500;
    color: #dce1ec;
}
*/
/*
QLineEdit {
	background-color: #Dadada;
	border: 1px solid transparent;
	padding-left: 10px;
    padding-right: 10px;
	selection-background-color: #ffffff;
    color: #717171;
}
QLineEdit:focus {
	border: 1px solid #Aaaaaa;
    background-color: #Dadada;
	color: #000000;
}
*/
/*******************************************/
/* ToolBox                                 */
/*******************************************/

/*******************************************/
/* TABS                                    */
/*******************************************/
QTabBar::tab {
	background: #0055ff;
	border: 1px solid #Aaaaaa;
	padding: 5px 20px;
	/*
	font-weight: bold;
	*/
	/*min-width: 100px;*/
  }

#panel3 QTabBar::scroller{
	width: 0px;
}

QTabBar::tab:selected {
	background: #ffffff;
	margin-bottom: -1px;
	color: #000000;
	border-bottom: 2px solid #0055ff; 
}

QTabBar::tab:!selected:hover {
	background: #ffffff;
	color: #000000;
}

QTabWidget::pane {
	/*border: 1px solid #ff5500;*/
	top:0px;
	background: transparent;
	border: 1px solid #Aaaaaa;
}

QTabBar::tab:right,
QTabBar::tab:left {
	padding: 20px 5px;
}


/*******************************************/
/* SCROLLAREA                            */
/*******************************************/
QScrollArea, #scrollArea2, #scrollArea1, #scrollArea2 QFrame, #scrollArea1 QFrame{
	border: none
}

#scrollAreaWidgetContents{
    background: #ff5500;
    border: 1px solid #ff5500;
}
#scrollAreaWidgetContents2{
    background: #ff5500;
    border: 1px solid #ff5500;
}
/*******************************************/
/* TABLE                            */
/*******************************************/
QTableView, QTableWidget{
	alternate-background-color: #Dadada;
    border: 1px solid #Aaaaaa;
    color: #000000;
	background:  #ff5500;
}

QTableCornerButton::section{
    background-color: #0055ff;
    border-bottom: 1px solid #222;
    border-right: 1px solid #222;
    color: #8a95aa;
}

#contentMenu QLabel{
	border-bottom: 1px solid #ffff7f;
	font-weight: bold;
    background: #00557f;
	padding-right: 30px;	
	font-style: italic;
	color: #ffffff;
	font-size: 16px;
	
}

#pageHeader QLabel{
	border-bottom: 1px solid #Aaaaaa;
	font-weight: bold;
    background: #0055ff;
	padding-right: 30px;	
	font-style: italic;
	color: #000000;
	font-size: 16px;
	
}

#settingsHeader QLabel{
	border-bottom: 1px solid #ff5500;
	font-weight: bold;
    background: #ff557f;
	padding-right: 30px;	
	font-style: italic;
	color: #aa007f;
	font-size: 16px;
}

/*******************************************/
/* NAVIGATION MENU                         */
/*******************************************/
#contentMenu QTreeWidget{
	font-weight: bold;
	show-decoration-selected: 1;
}

#contentMenu QTreeWidget::Item{
    height:30px;
	font-weight: bold;
	border-bottom:0px solid;
	/*padding-top: 5px;*/
	padding-left: 10px;
	margin-right: 10px;
}

#contentMenu QTreeWidget::Item:selected{
	color: #717171;	

}

#contentMenu QTreeWidget::item:hover {
    color: #717171;
	border: 0px solid;
}

#contentMenu QTreeWidget::branch::vertical{
	background: #ffffff;
}

#contentMenu QTreeWidget::Item:!has-children:selected{
	/*border-left:5px solid #Aaaaaa;*/
	color: #717171;
}


#contentMenu QTreeWidget::branch  {
    border-image: none;
    image: none;
	
	background: #ff5500;
}

/*
#contentMenu QTreeWidget::item {
	padding: 0;
  }
*/	
/*******************************************/
/* LISTVIEW                            */
/*******************************************/

QTreeView, 
QListView {
	show-decoration-selected: 1;
}
QTreeView::item:selected, 
QListView::item:selected {
	  background: #ffffff;
	  color: #717171;
	  border: 0px solid #ff5500
}
QTreeView::item:selected:!active, 
QListView::item:selected:!active {
	  background: transparent;
	  border: 0px solid;
}
QTreeView::item:selected:active,
QListView::item:selected:active {
	 background: transparent;
	 border: 0px solid;
}
/*******************************************/
/* PROGRESS                            */
/*******************************************/
QProgressBar{
	background: #Dadada;
	color: #717171;
}

QProgressBar{
    border: 2px solid #5555ff;
    border-radius: 5px;
    text-align: center
}

QProgressBar::chunk {
    background-color: #f3f2f1;
    width: 10px;
    margin: 1px;
}

#mainFooter QProgressBar::chunk {
    background-color: red;
}


theme selected
#######################################################
* { 
	color: #000000; 
	font-size: 14px;
	font-family: Segoe UI;
}

/*******************************************
* CONTENT
*******************************************/
#mainFrame{
	border: 0px solid #Aaaaaa;
	background:  #ff5500;
	border-radius: 5px;
}

/* HEADER                                  */
/*-----------------------------------------*/
#logo{
	background:  #aa0000;
	
}

#mainHeader{
	background:  #aa0000;
	color: #ffaa7f;
	border-bottom: 2px solid #0055ff;
}

#mainHeader QLabel{
	background:  #aa0000;
}

#appTitle{
	font-weight: bold;
}

#appDescription, #appTitle{
	color: #ffaa7f;
}
/*******************************************/
/* WINDOWACTIONS TOPICONS                  */
/*******************************************/
#windowicons{
	border: none
}

#windowicons QLabel{
	background:  #aa0000; 
}

#windowicons QPushButton{
	background: transparent;
	border: none;
}
#windowicons QPushButton#restorewindow:hover,
#windowicons QPushButton#maximizewindow:hover,
#windowicons QPushButton#minimizewindow:hover{ 
	border: none;
	background: #0000ff;
}

#windowicons QPushButton#closewindow:hover{ 
	background: red;
}

QLabel#appLogo{
	background:  #aa0000;
}
/*******************************************/
/* FOOTER                                  */
/*******************************************/
#mainFooter QFrame{
	border: none;
}

#mainFooter{
	background:  #f3f2f1;
	color: #00557f;
}

#footerActions QPushButton,
#mainFooter QPushButton{ 
	border: none;
	background: #f3f2f1;
	color: #aa007f;
}

#footerActions QPushButton:hover{
    background: #55557f;
	color: #aa007f;
}

#mainFooter QLabel{
	color: #00557f;
}


/*******************************************/
/* PANELS                                  */
/*******************************************/

#controllerPanel1{
	background: #e1e1e1;
    border-top: none;  
}
#controllerPanel2{
 	background: #e1e1e1;
	border-top: none;
}
#controllerPanel3{
	background: #e1e1e1;
    border-top: none;  
}
#controllerPanel4{
	background: #e1e1e1;
    border-top: none;  
}
#controllerPanel5, #controllerPanel6{
	background: #e1e1e1;
    border-top: none;  
}

#controllerPanel1{
    border-left: 1px solid #Dadada;	
}
#controllerPanel2{
    border-left: 1px solid #Dadada;	
}
#controllerPanel3{
    border-left: 1px solid #Dadada;	
}
#controllerPanel4{
    border-left: 1px solid #Dadada;	
}
#controllerPanel5{
    border-left: 1px solid #Dadada;	
}

#controllerPanel5{
    border-top: 1px solid #Dadada;	
}

#controllerPanel1 QPushButton, 
#controllerPanel2 QPushButton, 
#controllerPanel3 QPushButton,
#controllerPanel4 QPushButton, 
#controllerPanel5 QPushButton, 
#controllerPanel6 QPushButton{
	background: transparent;
	border: none;
}

#controllerPanel1 QPushButton:hover, 
#controllerPanel2 QPushButton:hover, 
#controllerPanel3 QPushButton:hover,
#controllerPanel4 QPushButton:hover, 
#controllerPanel5 QPushButton:hover, 
#controllerPanel6 QPushButton:hover{
	background: #7171A9;
}

LabelHorizontal, LabelVertical, #controllerPanel5 QLabel{
	font-weight: bold;
	color: #55aaff;
	font-size: 16px;
	padding-left: 20px;
}
#panel1{
	background: #ffffff;
    color: #ffffff;
}
#panel2{
	background: #282828;
   color: #00557f;
}
#panel3{
	background: #ff5500;
    color: #000000;
}
#panel4{
	background: #1C1C1C;
   color: #00557f;
}
#panel5, #panel6{
	background: #C4C4C4;
   color: #00557f;
}

#controllerPanel5{
    border-bottom: 1px solid #Dadada;
}
#controllerPanel1, #controllerPanel2{
    border-left: 1px solid #Dadada;
}

/*
#controllerPanel3, #controllerPanel4, #controllerPanel5, #controllerPanel6{
    border-right: 1px solid #Dadada;
}
*/

#panel6{
    border-right: 1px solid #Aaaaaa;
}

#controllerPanel1 QFrame,
#controllerPanel2 QFrame,
#controllerPanel3 QFrame,
#controllerPanel4 QFrame,
#controllerPanel5 QFrame{
	border: none;
}

/*******************************************/
/* BUTTONS                                 */
/*******************************************/
QPushButton{
	padding: 5px;
    background: #0055ff;
	border: 1px solid #Aaaaaa;
	color: #000000;
}

 QPushButton:hover{
    background: #ffffff;
	border: 1px solid #Aaaaaa;
	color: #000000;
}


/*******************************************/
/* SCROLLBAR                               */
/*******************************************/
QScrollBar {
    background: #Aaaaaa;
    width: 8px;   
}

QScrollBar::handle {
    background:  #0055ff;
}

QScrollBar::add-line:vertical, 
QScrollBar::add-line:horizontal  {
    border: none;
    background: none;
}

QScrollBar::sub-line:vertical, 
QScrollBar::sub-line:horizontal  {
    border: none;
    background: none;
  }

QScrollBar::handle:hover:vertical, 
QScrollBar::handle:hover:horizontal {
    /*background: #ff5500;*/
    border-radius: 3px;
}

/*******************************************/
/* TREEVIEW                                */
/*******************************************/
QTreeView, QTreeWidget{
    alternate-background-color: #Dadada;
	background:  #ff5500;
	border: none;
}

#panel1 QTreeWidget{
	background:  #ffffff;
}

QTreeView::Item{
    height:20px;
}

#panel3 QHeaderView::section, 
#panel3 QHeaderWidget::section {
    color: #000000;
	font-weight: bold;
    background: #0055ff;
	padding: 2px;	
	border: none;
	border-bottom: 1px solid #Aaaaaa;
}
#panel1 QHeaderView::section, 
#panel1 QHeaderWidget::section {
    color: #ffffff;
	font-weight: bold;
    background: #00557f;
	padding: 2px;	
	border: none;
	border-bottom: 1px solid #ffff7f;
}
#panel4 QHeaderView::section, 
#panel4 QHeaderWidget::section {
    color: #aa007f;
	font-weight: bold;
    background: #ffaaff;
	padding: 2px;	
	border: none;
	border-bottom: 1px solid #ff5500;
}
/*******************************************/
/* TOOLBOX                            */
/*******************************************/


/*******************************************/
/* TOOLTIP                            */
/*******************************************/
QToolTip { 
	background-color: #ff5500; 
	color: #000000; 
	border: 1px solid #Aaaaaa; 
	border-radius: 3px;
}

/*******************************************/
/* LINEEDIT                            */
/*******************************************/
/*
QLineEdit{
    background-color: #ff5500;
    color: #dce1ec;
}
*/
/*
QLineEdit {
	background-color: #Dadada;
	border: 1px solid transparent;
	padding-left: 10px;
    padding-right: 10px;
	selection-background-color: #ffffff;
    color: #717171;
}
QLineEdit:focus {
	border: 1px solid #Aaaaaa;
    background-color: #Dadada;
	color: #000000;
}
*/
/*******************************************/
/* ToolBox                                 */
/*******************************************/

/*******************************************/
/* TABS                                    */
/*******************************************/
QTabBar::tab {
	background: #0055ff;
	border: 1px solid #Aaaaaa;
	padding: 5px 20px;
	/*
	font-weight: bold;
	*/
	/*min-width: 100px;*/
  }

#panel3 QTabBar::scroller{
	width: 0px;
}

QTabBar::tab:selected {
	background: #ffffff;
	margin-bottom: -1px;
	color: #000000;
	border-bottom: 2px solid #0055ff; 
}

QTabBar::tab:!selected:hover {
	background: #ffffff;
	color: #000000;
}

QTabWidget::pane {
	/*border: 1px solid #ff5500;*/
	top:0px;
	background: transparent;
	border: 1px solid #Aaaaaa;
}

QTabBar::tab:right,
QTabBar::tab:left {
	padding: 20px 5px;
}


/*******************************************/
/* SCROLLAREA                            */
/*******************************************/
QScrollArea, #scrollArea2, #scrollArea1, #scrollArea2 QFrame, #scrollArea1 QFrame{
	border: none
}

#scrollAreaWidgetContents{
    background: #ff5500;
    border: 1px solid #ff5500;
}
#scrollAreaWidgetContents2{
    background: #ff5500;
    border: 1px solid #ff5500;
}
/*******************************************/
/* TABLE                            */
/*******************************************/
QTableView, QTableWidget{
	alternate-background-color: #Dadada;
    border: 1px solid #Aaaaaa;
    color: #000000;
	background:  #ff5500;
}

QTableCornerButton::section{
    background-color: #0055ff;
    border-bottom: 1px solid #222;
    border-right: 1px solid #222;
    color: #8a95aa;
}

#contentMenu QLabel{
	border-bottom: 1px solid #ffff7f;
	font-weight: bold;
    background: #00557f;
	padding-right: 30px;	
	font-style: italic;
	color: #ffffff;
	font-size: 16px;
	
}

#pageHeader QLabel{
	border-bottom: 1px solid #Aaaaaa;
	font-weight: bold;
    background: #0055ff;
	padding-right: 30px;	
	font-style: italic;
	color: #000000;
	font-size: 16px;
	
}

#settingsHeader QLabel{
	border-bottom: 1px solid #ff5500;
	font-weight: bold;
    background: #ff557f;
	padding-right: 30px;	
	font-style: italic;
	color: #aa007f;
	font-size: 16px;
}

/*******************************************/
/* NAVIGATION MENU                         */
/*******************************************/
#contentMenu QTreeWidget{
	font-weight: bold;
	show-decoration-selected: 1;
}

#contentMenu QTreeWidget::Item{
    height:30px;
	font-weight: bold;
	border-bottom:0px solid;
	/*padding-top: 5px;*/
	padding-left: 10px;
	margin-right: 10px;
}

#contentMenu QTreeWidget::Item:selected{
	color: #717171;	

}

#contentMenu QTreeWidget::item:hover {
    color: #717171;
	border: 0px solid;
}

#contentMenu QTreeWidget::branch::vertical{
	background: #ffffff;
}

#contentMenu QTreeWidget::Item:!has-children:selected{
	/*border-left:5px solid #Aaaaaa;*/
	color: #717171;
}


#contentMenu QTreeWidget::branch  {
    border-image: none;
    image: none;
	
	background: #ff5500;
}

/*
#contentMenu QTreeWidget::item {
	padding: 0;
  }
*/	
/*******************************************/
/* LISTVIEW                            */
/*******************************************/

QTreeView, 
QListView {
	show-decoration-selected: 1;
}
QTreeView::item:selected, 
QListView::item:selected {
	  background: #ffffff;
	  color: #717171;
	  border: 0px solid #ff5500
}
QTreeView::item:selected:!active, 
QListView::item:selected:!active {
	  background: transparent;
	  border: 0px solid;
}
QTreeView::item:selected:active,
QListView::item:selected:active {
	 background: transparent;
	 border: 0px solid;
}
/*******************************************/
/* PROGRESS                            */
/*******************************************/
QProgressBar{
	background: #Dadada;
	color: #717171;
}

QProgressBar{
    border: 2px solid #5555ff;
    border-radius: 5px;
    text-align: center
}

QProgressBar::chunk {
    background-color: #f3f2f1;
    width: 10px;
    margin: 1px;
}

#mainFooter QProgressBar::chunk {
    background-color: red;
}


theme selected
#######################################################
* { 
	color: #000000; 
	font-size: 14px;
	font-family: Segoe UI;
}

/*******************************************
* CONTENT
*******************************************/
#mainFrame{
	border: 0px solid #Aaaaaa;
	background:  #ff5500;
	border-radius: 5px;
}

/* HEADER                                  */
/*-----------------------------------------*/
#logo{
	background:  #aa0000;
	
}

#mainHeader{
	background:  #aa0000;
	color: #ffaa7f;
	border-bottom: 2px solid #0055ff;
}

#mainHeader QLabel{
	background:  #aa0000;
}

#appTitle{
	font-weight: bold;
}

#appDescription, #appTitle{
	color: #ffaa7f;
}
/*******************************************/
/* WINDOWACTIONS TOPICONS                  */
/*******************************************/
#windowicons{
	border: none
}

#windowicons QLabel{
	background:  #aa0000; 
}

#windowicons QPushButton{
	background: transparent;
	border: none;
}
#windowicons QPushButton#restorewindow:hover,
#windowicons QPushButton#maximizewindow:hover,
#windowicons QPushButton#minimizewindow:hover{ 
	border: none;
	background: #0000ff;
}

#windowicons QPushButton#closewindow:hover{ 
	background: red;
}

QLabel#appLogo{
	background:  #aa0000;
}
/*******************************************/
/* FOOTER                                  */
/*******************************************/
#mainFooter QFrame{
	border: none;
}

#mainFooter{
	background:  #f3f2f1;
	color: #00557f;
}

#footerActions QPushButton,
#mainFooter QPushButton{ 
	border: none;
	background: #f3f2f1;
	color: #aa007f;
}

#footerActions QPushButton:hover{
    background: #55557f;
	color: #aa007f;
}

#mainFooter QLabel{
	color: #00557f;
}


/*******************************************/
/* PANELS                                  */
/*******************************************/

#controllerPanel1{
	background: #e1e1e1;
    border-top: none;  
}
#controllerPanel2{
 	background: #e1e1e1;
	border-top: none;
}
#controllerPanel3{
	background: #e1e1e1;
    border-top: none;  
}
#controllerPanel4{
	background: #e1e1e1;
    border-top: none;  
}
#controllerPanel5, #controllerPanel6{
	background: #e1e1e1;
    border-top: none;  
}

#controllerPanel1{
    border-left: 1px solid #Dadada;	
}
#controllerPanel2{
    border-left: 1px solid #Dadada;	
}
#controllerPanel3{
    border-left: 1px solid #Dadada;	
}
#controllerPanel4{
    border-left: 1px solid #Dadada;	
}
#controllerPanel5{
    border-left: 1px solid #Dadada;	
}

#controllerPanel5{
    border-top: 1px solid #Dadada;	
}

#controllerPanel1 QPushButton, 
#controllerPanel2 QPushButton, 
#controllerPanel3 QPushButton,
#controllerPanel4 QPushButton, 
#controllerPanel5 QPushButton, 
#controllerPanel6 QPushButton{
	background: transparent;
	border: none;
}

#controllerPanel1 QPushButton:hover, 
#controllerPanel2 QPushButton:hover, 
#controllerPanel3 QPushButton:hover,
#controllerPanel4 QPushButton:hover, 
#controllerPanel5 QPushButton:hover, 
#controllerPanel6 QPushButton:hover{
	background: #7171A9;
}

LabelHorizontal, LabelVertical, #controllerPanel5 QLabel{
	font-weight: bold;
	color: #55aaff;
	font-size: 16px;
	padding-left: 20px;
}
#panel1{
	background: #ffffff;
    color: #ffffff;
}
#panel2{
	background: #282828;
   color: #00557f;
}
#panel3{
	background: #ff5500;
    color: #000000;
}
#panel4{
	background: #1C1C1C;
   color: #00557f;
}
#panel5, #panel6{
	background: #C4C4C4;
   color: #00557f;
}

#controllerPanel5{
    border-bottom: 1px solid #Dadada;
}
#controllerPanel1, #controllerPanel2{
    border-left: 1px solid #Dadada;
}

/*
#controllerPanel3, #controllerPanel4, #controllerPanel5, #controllerPanel6{
    border-right: 1px solid #Dadada;
}
*/

#panel6{
    border-right: 1px solid #Aaaaaa;
}

#controllerPanel1 QFrame,
#controllerPanel2 QFrame,
#controllerPanel3 QFrame,
#controllerPanel4 QFrame,
#controllerPanel5 QFrame{
	border: none;
}

/*******************************************/
/* BUTTONS                                 */
/*******************************************/
QPushButton{
	padding: 5px;
    background: #0055ff;
	border: 1px solid #Aaaaaa;
	color: #000000;
}

 QPushButton:hover{
    background: #ffffff;
	border: 1px solid #Aaaaaa;
	color: #000000;
}


/*******************************************/
/* SCROLLBAR                               */
/*******************************************/
QScrollBar {
    background: #Aaaaaa;
    width: 8px;   
}

QScrollBar::handle {
    background:  #0055ff;
}

QScrollBar::add-line:vertical, 
QScrollBar::add-line:horizontal  {
    border: none;
    background: none;
}

QScrollBar::sub-line:vertical, 
QScrollBar::sub-line:horizontal  {
    border: none;
    background: none;
  }

QScrollBar::handle:hover:vertical, 
QScrollBar::handle:hover:horizontal {
    /*background: #ff5500;*/
    border-radius: 3px;
}

/*******************************************/
/* TREEVIEW                                */
/*******************************************/
QTreeView, QTreeWidget{
    alternate-background-color: #Dadada;
	background:  #ff5500;
	border: none;
}

#panel1 QTreeWidget{
	background:  #ffffff;
}

QTreeView::Item{
    height:20px;
}

#panel3 QHeaderView::section, 
#panel3 QHeaderWidget::section {
    color: #000000;
	font-weight: bold;
    background: #0055ff;
	padding: 2px;	
	border: none;
	border-bottom: 1px solid #Aaaaaa;
}
#panel1 QHeaderView::section, 
#panel1 QHeaderWidget::section {
    color: #ffffff;
	font-weight: bold;
    background: #00557f;
	padding: 2px;	
	border: none;
	border-bottom: 1px solid #ffff7f;
}
#panel4 QHeaderView::section, 
#panel4 QHeaderWidget::section {
    color: #aa007f;
	font-weight: bold;
    background: #ffaaff;
	padding: 2px;	
	border: none;
	border-bottom: 1px solid #ff5500;
}
/*******************************************/
/* TOOLBOX                            */
/*******************************************/


/*******************************************/
/* TOOLTIP                            */
/*******************************************/
QToolTip { 
	background-color: #ff5500; 
	color: #000000; 
	border: 1px solid #Aaaaaa; 
	border-radius: 3px;
}

/*******************************************/
/* LINEEDIT                            */
/*******************************************/
/*
QLineEdit{
    background-color: #ff5500;
    color: #dce1ec;
}
*/
/*
QLineEdit {
	background-color: #Dadada;
	border: 1px solid transparent;
	padding-left: 10px;
    padding-right: 10px;
	selection-background-color: #ffffff;
    color: #717171;
}
QLineEdit:focus {
	border: 1px solid #Aaaaaa;
    background-color: #Dadada;
	color: #000000;
}
*/
/*******************************************/
/* ToolBox                                 */
/*******************************************/

/*******************************************/
/* TABS                                    */
/*******************************************/
QTabBar::tab {
	background: #0055ff;
	border: 1px solid #Aaaaaa;
	padding: 5px 20px;
	/*
	font-weight: bold;
	*/
	/*min-width: 100px;*/
  }

#panel3 QTabBar::scroller{
	width: 0px;
}

QTabBar::tab:selected {
	background: #ffffff;
	margin-bottom: -1px;
	color: #000000;
	border-bottom: 2px solid #0055ff; 
}

QTabBar::tab:!selected:hover {
	background: #ffffff;
	color: #000000;
}

QTabWidget::pane {
	/*border: 1px solid #ff5500;*/
	top:0px;
	background: transparent;
	border: 1px solid #Aaaaaa;
}

QTabBar::tab:right,
QTabBar::tab:left {
	padding: 20px 5px;
}


/*******************************************/
/* SCROLLAREA                            */
/*******************************************/
QScrollArea, #scrollArea2, #scrollArea1, #scrollArea2 QFrame, #scrollArea1 QFrame{
	border: none
}

#scrollAreaWidgetContents{
    background: #ff5500;
    border: 1px solid #ff5500;
}
#scrollAreaWidgetContents2{
    background: #ff5500;
    border: 1px solid #ff5500;
}
/*******************************************/
/* TABLE                            */
/*******************************************/
QTableView, QTableWidget{
	alternate-background-color: #Dadada;
    border: 1px solid #Aaaaaa;
    color: #000000;
	background:  #ff5500;
}

QTableCornerButton::section{
    background-color: #0055ff;
    border-bottom: 1px solid #222;
    border-right: 1px solid #222;
    color: #8a95aa;
}

#contentMenu QLabel{
	border-bottom: 1px solid #ffff7f;
	font-weight: bold;
    background: #00557f;
	padding-right: 30px;	
	font-style: italic;
	color: #ffffff;
	font-size: 16px;
	
}

#pageHeader QLabel{
	border-bottom: 1px solid #Aaaaaa;
	font-weight: bold;
    background: #0055ff;
	padding-right: 30px;	
	font-style: italic;
	color: #000000;
	font-size: 16px;
	
}

#settingsHeader QLabel{
	border-bottom: 1px solid #ff5500;
	font-weight: bold;
    background: #ff557f;
	padding-right: 30px;	
	font-style: italic;
	color: #aa007f;
	font-size: 16px;
}

/*******************************************/
/* NAVIGATION MENU                         */
/*******************************************/
#contentMenu QTreeWidget{
	font-weight: bold;
	show-decoration-selected: 1;
}

#contentMenu QTreeWidget::Item{
    height:30px;
	font-weight: bold;
	border-bottom:0px solid;
	/*padding-top: 5px;*/
	padding-left: 10px;
	margin-right: 10px;
}

#contentMenu QTreeWidget::Item:selected{
	color: #717171;	

}

#contentMenu QTreeWidget::item:hover {
    color: #717171;
	border: 0px solid;
}

#contentMenu QTreeWidget::branch::vertical{
	background: #ffffff;
}

#contentMenu QTreeWidget::Item:!has-children:selected{
	/*border-left:5px solid #Aaaaaa;*/
	color: #717171;
}


#contentMenu QTreeWidget::branch  {
    border-image: none;
    image: none;
	
	background: #ff5500;
}

/*
#contentMenu QTreeWidget::item {
	padding: 0;
  }
*/	
/*******************************************/
/* LISTVIEW                            */
/*******************************************/

QTreeView, 
QListView {
	show-decoration-selected: 1;
}
QTreeView::item:selected, 
QListView::item:selected {
	  background: #ffffff;
	  color: #717171;
	  border: 0px solid #ff5500
}
QTreeView::item:selected:!active, 
QListView::item:selected:!active {
	  background: transparent;
	  border: 0px solid;
}
QTreeView::item:selected:active,
QListView::item:selected:active {
	 background: transparent;
	 border: 0px solid;
}
/*******************************************/
/* PROGRESS                            */
/*******************************************/
QProgressBar{
	background: #Dadada;
	color: #717171;
}

QProgressBar{
    border: 2px solid #5555ff;
    border-radius: 5px;
    text-align: center
}

QProgressBar::chunk {
    background-color: #f3f2f1;
    width: 10px;
    margin: 1px;
}

#mainFooter QProgressBar::chunk {
    background-color: red;
}


